.vscode/
node_modules/
.DS_Store
sync.sh
.expo/
debugging/
/frontend/@notes
/frontend/_notes
frontend/logs
frontend/android/app/my-upload-key.keystore
frontend/android/gradle.properties
frontend/build-1763913280994.apk
